a[href^="https://www.google.com"] {
    color: green;
}
a[target="_blank"] {
    color: red;
}
#second-div p {
    color: red;
}
#second-div p+p {
    color: blue;
    
}
#second-div p+p+p {
    color: red;
    
}
#second-div p+p+p+p {
    color: blue;
    
}
#second-div p+p+p+p+p {
    color: red;
    
}
#first-div > p::after {
    content: "-New";
    color: yellow;

}
p:last-child:hover{
text-transform: uppercase;
font-style: italic;

}